{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}

{% block title %}
Pas een Leraar aan
{% endblock %}

{% block body %}

<h1>Pas {{leraar.voornaam}} {{leraar.naam}} aan</h1>
<img class="mw-150px" src="{{ url_for('dashboard.uploaded_file', folder='leraren', filename=leraar.foto) }}" alt="Foto {{leraar.naam}} {{leraar.voornaam}}">
<form action="" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="file">Foto</label>
    <input type="file" class="form-control-file" id="file" name="file">
  </div>
  <div class="form-group">
    {{render_field(form.naam, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.voornaam, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.email, class_="form-control")}}
  </div>
  {{ form.csrf_token }}
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>

{% endblock %}
