{% extends 'layout.html' %}

{% block title %}
Intranet
{% endblock %}

{% block body %}

<h1><small>Welcome {{session.name}}, to the </small>Intranet</h1>
<hr>
<a href="/add_richting" class="btn btn-outline-dark">Voeg een Richting toe</a>
<a href="/add_leraar" class="btn btn-outline-dark">Voeg een Leraar toe</a>
<a href="/add_klas" class="btn btn-outline-dark">Voeg een Klas toe</a>
<hr>
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="collapsed text-dark" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
          Richtingen
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th></th>
            <th></th>
          </tr>
          {% for richting in richtingen %}
            <tr>
              <td>{{richting.naam}}</td>
              <td>{{richting.omschrijving | safe}}</td>
              <td><a href="edit_richting/{{richting.id}}" class="btn btn-warning">Edit</a></td>
              <td>
                <form action="{{url_for('dashboard.deleteRow', table='richtingen', id=richting.id, name=richting.naam)}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed text-dark" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
          Leraren
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Foto</th>
            <th>Naam</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
          {% for leraar in leraren %}
            <tr>
              <td><img class="mw-150px" src="{{ url_for('dashboard.uploaded_file', folder='leraren', filename=leraar.foto) }}" alt="Foto {{leraar.naam}}{{leraar.voornaam}}"></td>
              <td>{{leraar.voornaam}} {{leraar.naam}}</td>
              <td>{{leraar.email}}</td>
              <td><a href="edit_leraar/{{leraar.id}}" class="btn btn-warning">Edit</a></td>
              <td>
                <form action="{{url_for('dashboard.deleteRow', table='leraren', id=leraar.id, name=leraar.naam+" "+leraar.voornaam)}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed text-dark" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
          Klassen
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Naam</th>
            <th>Code</th>
            <th>Richting</th>
            <th>Leraar</th>
            <th></th>
            <th></th>
          </tr>
          {% for klas in klassen %}
            <tr>
              <td>{{klas.naam}}</td>
              <td>{{klas.code}}</td>
              <td>{{klas.richting}}</td>
              <td>{{klas.leraar}}</td>
              <td><a href="edit_klas/{{klas.id}}" class="btn btn-warning">Edit</a></td>
              <td>
                <form action="{{url_for('dashboard.deleteRow', table='klassen', id=klas.id, name=klas.naam)}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
