{% from "macros.html" import nav_link with context %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">Secundaire School</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          {{ nav_link('/aanbod', 'Ons aanbod') }}
          {{ nav_link('/wieiswie', 'Wie is wie') }}
          {{ nav_link('/contact', 'Contact') }}
        </ul>
        <ul class="navbar-nav">
        {% if not session.logged_in %}
          {{ nav_link('/login', 'Intranet') }}
        {% else %}
          {{ nav_link('/intranet', 'Intranet') }}
          {{ nav_link('/logout', 'Logout') }}
          {% endif %}
        </ul>
      </div>
    </nav>
