{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}

{% block title %}
Pas een Klas aan
{% endblock %}

{% block body %}

<h1>Pas de klas {{klas.naam}} aan</h1>
<form action="" method="post">
  <div class="form-group">
    {{render_field(form.naam, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.code, class_="form-control")}}
  </div>
  <div class="form-group">
    <label for="richting">Richting</label>
    <select class="form-control" id="richting" name="richting">
      {% for richting in richtingen %}
      <option value="{{richting.id}}"
      {{ 'selected' if (klas.richting == richting.id)  }}>
      {{richting.naam}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="leraar">Leraar</label>
    <select class="form-control" id="leraar" name="leraar">
      {% for leraar in leraren %}
      <option value="{{leraar.id}}"
      {{ 'selected' if (klas.leraar == leraar.id)}}>
        {{leraar.voornaam}} {{leraar.naam}}</option>
      {% endfor %}
    </select>
  </div>
  {{ form.csrf_token }}
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>

{% endblock %}
